*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Yu Mincho Light';
}

a{
  text-decoration: none;
  color: black;
}



header {
  background-image: url("img/main.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

header .logo img{
  height: 60px;
  padding-top:30px ;
  padding-left: 126px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

header .nav {
   box-sizing: border-box;
  width: 50%;
  margin-top: 40px;
  padding-right: 100px;
}

header .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header .nav li{
  font-size: 12px;
}

.header-bottom {
  height: 510px;
  width: 96%;
  margin: 0 auto;
}

.header-bottom p {
  height: 510px;
  line-height: 510px;
  font-size: 40px;
  text-align: center;
}


/* main */

.news {
  margin-bottom: 200px;
}

.news .title {
  width: 30%;
  margin: 100px auto ;
}

.news .title p {
  font-size: 48px;
  text-align:center;
}

.news-in span {
  border: 1px solid black;
  height: 1px;
  margin: 0 24px;
}

.news-in {
  margin-left: 12%;
  margin-right: 12%;
  
}

.news-in p {
  border-bottom: 1px solid black;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 19px;
}

.example .title {
  margin-bottom: 100px;
}

.example .title p {
  font-size: 48px;
  text-align:center;
}

.example-in {
  display: flex;
}

.building1 {
  margin-left: 10%;
  margin-right:3%;
}

.building2 {
  margin-left: 3%;
  margin-right:10%; 
}

.building1, .building2{
  text-align:center;
  width: 37%;
}

.example .name {
  margin-top: 16px;
  font-size: 24px;
}

.pref {
  margin-top: 8px;
  margin-bottom: 8px;
}

.perform {
  width: 40%;
  margin: 70px auto 140px;
}

.perform p {
  text-align: center;
  font-size: 24px;
  border: 1px solid black;
  text-align: center;
}

main .nav {
  display: flex;
}

main .nav img {
  vertical-align:top;
}

main .nav a {
  display: block;
}

/* footer */

footer{
  height: 180px;
  background-color: black;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;

}

 footer .nav{
  width: 50%;
  margin-top: 40px;
  padding-right: 120px;
  box-sizing: border-box;
}

footer a, footer p {
  color: white;
}

footer .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer li {
  font-size:18px;
}

footer img {
  height: 40px;
  margin-left: 130px;
  margin-top: 40px;
}

footer p {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 auto;
  width: 20%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 13px;
}


